.suggestion-prompt {
    width: 371px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.suggestion-prompt .prompt-container {
    position: relative;
    width: 100%;
    padding: 5px 0; 
}

.suggestion-prompt .suggestion-img {
    display: inline-block;
    vertical-align: middle;
}

.suggestion-prompt .suggestion-prompt-title {
    display: inline-block;
    color: #026de3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 15.6px;
    white-space: nowrap;
    margin-left: 10px; /* Spacing between the image and title */
}

.suggestion-prompt .prompt-1,
.suggestion-prompt .prompt-2,
.suggestion-prompt .prompt-3 {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20px); 
    color: #ceced2;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 15.6px;
}

.suggestion-prompt .divison-line-1,
.suggestion-prompt .division-line-2 {
    background-color: #38383a;
    height: 1px;
    width: 100%;
    margin-top: 5px; 
}

.suggestion-prompt .frame-24,
.suggestion-prompt .frame-25,
.suggestion-prompt .frame-26 {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; 
}


