.try-asking-section {
  height: 65px;
  position: relative;
  width: 532px;
}

.try-asking-section .try-asking {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 16px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 86px;
}

.try-asking-section .vector-2 {
  height: 16px;
  position: relative;
  width: 16px;
}

.try-asking-section .text-wrapper-11 {
  color:  rgba(206, 206, 210, 1);
  font-family: "OpenSans-SemiBold", Helvetica;
  font-size:16px;
  font-style: normal;
  font-weight:  600;
  letter-spacing: 0px;
  line-height: 160%;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.try-asking-section .frame-10 {
  align-items: center;
  display: flex;
  gap: 80px;
  height: 20px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 22px;
  width: 532px;
}

.try-asking-section .text-wrapper-12 {
  color: #68686d;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 9.9px;
  position: relative;
  text-align: center;
  width: 124px;
}

.try-asking-section .text-wrapper-13 {
  color: #68686d;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 9.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 124px;
}

.try-asking-section .frame-11 {
  align-items: flex-start;
  display: flex;
  gap: 80px;
  height: 20px;
  left: 102px;
  position: absolute;
  top: 50px;
  width: 328px;
}
