.question {
  word-wrap: break-word;  /* This ensures that long words can break and wrap onto the next line */
  width: 367px;
  color: #ceced2;
    font-family: "Open Sans", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 15.4px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

 